<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Activation</title>
</head>
<body>
    <p>Hi {{ username }},</p>

    <p>Please click the <a href="{{ activation_link }}">link</a> to confirm your email and activate your account.</p>
    <p>
        Having trouble clicking the link above? You can use this link here to activate your account {{ activation_link }}
    </p>
    <p>If you didn't request this, please ignore this email.</p>

    <p>Your friends at Tech by Choice.</p>
</body>
</html>
